# Minimal Clangd configuration to reset the indexer
CompileFlags:
  Add: 
    - "--driver-mode=g++"
    - "-xc++"
    - "-std=c++17"
    - "-DARDUINO=10813"
    - "-DARDUINO_ARCH_ESP32"
    - "-DESP32"
    - "-IC:/Users/Klarence Nevado/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.8/cores/esp32"
    - "-IC:/Users/Klarence Nevado/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.8/variants/esp32"
    - "-IC:/ArduinoLibs/libraries/Adafruit_MLX90614_Library"
    - "-IC:/ArduinoLibs/libraries/HX711"
    - "-IC:/ArduinoLibs/libraries/ArduinoJson/src"
    - "-IC:/ArduinoLibs/libraries/Adafruit_BusIO"
    - "-IC:/Users/Klarence Nevado/AppData/Local/Arduino15/packages/esp32/hardware/esp32/3.3.8/libraries/Wire/src"
Index:
  Background: Build
